/* css for module2-solution */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	margin: 10px;
	font-family: Arial, sans-serif;
}

h1 {
	margin: 20px 0px 20px 0px;
	text-align: center;
	font-size: 1.75em;
}

h2 {
	font-size: 1.25em;
}

section {
	border: 1px solid black;
	padding: 35px 10px 5px 10px;
	position: relative;
	background-color: #eeeeee;
}

section > h2 {
	position: absolute;
	top: 0px;
	right: 0px;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	padding: 1px 20px 1px 20px;
}

div {
	padding: 10px;
	float: left;
}

@media (min-width: 992px) {
	.lg-4 {
		width: 33.33%;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	.md-6 {
		width: 50%;
	}
	.md-12 {
		width: 100%;
	}
}

@media (max-width: 767px) {
	.sm-12 {
		width: 100%;
	}
}

#spinach h2 {
	background-color: #FF8888;
}

#rice h2 {
	background-color: #88FF88;
}

#tofu h2 {
	background-color: #8888FF;
}

