#header-nav {
    border-radius: 0;
}

#header-nav h1 {
    margin: 0;
    line-height: 1;
    font-size: 32px;
}

#header-nav .navbar-brand {
    padding: 9px 15px;
}

#nav-list {
    background-color: #ffffe6;
}

#nav-list li a {
    color: #ff0000;
}

#nav-list li a:hover {
    background-color: #f6f6e6;
}

#nav-list li {
    border-bottom: 1px solid red;
}

#nav-list:nth-child(1) {
    border-top: 1px solid red;
}

#main-content {
    margin: 0px 5px 0px 5px;
}

#main-content > .row > div {
    /* default padding for columns is 0px 15px 0px 15px */
    padding: 10px;
}

#main-content h2 {
    margin: 5px 0px 15px 0px;
}

#main-content section {
    border: 1px solid grey;
    background-color: #eeeeee;
    padding: 0px 10px 0px 10px;
}
